html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin: 0px;
}

/*Top Navigation*/

.top-navigation > .content {
    width: 706px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
ul.links, 
ul.links a, 
ul.links li {
    /* height: 100%; */
    /* display: block; */
    /* line-height: 70px; */
}
li {
    transition: background-color 9s ease-out;
}
a:hover {
    color: black;
    cursor: pointer;
}
.top-navigation {
    height: 70px;
    background-color: white;
    line-height: 70px;
    position: fixed;
	width: 100%;
	z-index: 9999;
}
.logo {
    height: 70px;
    width: 26px;
    padding-right: 0px;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.introduction {
    background-image: url('http://i.imgur.com/jYodzk4.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    background-position: 0 bottom;
    background-position: 50% 100%;
	overflow: auto;
   }
.introduction {
	height: 570px;

}
.introduction > h1 {
	color: white;
	text-align: center;
	font-weight: 300;
	margin-top: 140px;
	margin-bottom: 0px;
}
.introduction > h1 {
	font-size: 3.125rem;
}
.introduction > h3 {
	font-size: 1.563rem;
	color: white;
	text-align: center;
	font-weight: 300;
	margin-top: 20px;
}
button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    display: block;
    margin: 0 auto;			
    width: auto;
    background-color: #f15a29;
    color: white;
	font-size: 1.2em;

}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.cases h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
  	color: black;
}
.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}
.cases .devices {
    width: 33.3333333%;
    display: block;
    /* styles to assist with debugging */
    /* border: 1px solid black; */
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.devices img {

	
}